<% layout('layouts/boilerplate') %>
    <h1>Edit campground</h1>
    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="post">
        <div>
            <label for="title">title</label>
            <input type="text" id="title" name="campground[title]" value="<%=campground.title %>">
        </div>
        <div>
            <label for="location">location</label>
            <input type="text" id="location" name="campground[location]" value="<%=campground.location %>">
        </div>
        <button> Update campground</button>
    </form>
    <footer>
        <a href="/campgrounds/<%= campground._id %>">Back to all campgrounds</a>
    </footer>